@charset "utf-8";
/*
Design Name: OIC
Author: <a href="http://www.oic.edu.np">Orchid International College</a>
File: Layout CSS
*/

@import url("navi.css");
@import url("forms.css");
@import url("tables.css");
@import url("featured_slide.css");
@import url("loginslider.css");
@import url("feedback_slider.css");


html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:12px; font-family:verdana, Arial, Helvetica, sans-serif; color:purple; background-color:purple;}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}

.clear{clear:both;}
br.clear{clear:both; color:white; margin-top:20px;margin-bottom:20px }

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{display:block; margin:0; padding:0; border:none;}
.imgl, .imgr{border:1px solid purple; padding:5px;}
.imgl{margin:0 8px 8px 0; clear:left;}
.imgr{margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block;width:100%; margin:0;color:purple; text-align:justify;line-height:normal ;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0; padding:0; font-size:10px; font-weight:normal; line-height:30px; font-family:Georgia, "Times New Roman", Times, serif;}
.col0{color:#FFFFFF; background-color:purple; border-top:5px solid:purple;}
.col1, .col1 a{color:none; background-color:purple;}
.col2{color:#FFFFFF; background-color:purple; padding:15px 0}
.col3{color:#666666; background-color:#FFFFFF;}
.col3 a{color:#02ACEE; background-color:#FFFFFF;}
.col4{color:#CCCCCC; background-color:purple;}
.col4 a{color:#02ACEE; background-color:purple;}
.col5, .col5 a{color:purple; background-color:purple;}

/* ----------------------------------------------Generalise------------------------------------- */

#header, #topbar, #topnav, #breadcrumb, #homecontent, #container, #footer, #copyright{display:block; position:relative; width:960px; margin:0 auto;}

/* ----------------------------------------------Header------------------------------------- */

#header{padding:0 0 15px 0;}
#header #logo{display:block; float:left; width:300px; margin-top:10px; overflow:hidden;}
#header #logo h1, #header p, #header ul{margin:0; padding:0; list-style:none; line-height:normal;}
#header #logo h1{font-size:32px;}

/* ----------------------------------------------BreadCrumb------------------------------------- */

#breadcrumb a{color:white; background-color:purple;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb ul li{display:inline;}
#breadcrumb ul li.current a{text-decoration:underline;}

/* ----------------------------------------------Container------------------------------------- */

#container{padding:20px 0;}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6, #homecontent h2{font-size:20px; margin:0 0 15px 0; padding-bottom:8px; color:#666666; background-color:#FFFFFF; border-bottom:1px dotted #999999;}

/* ----------------------------------------------Homepage------------------------------------- */

#homecontent{padding:25px 0; line-height:2em;}
#homecontent img{padding:4px; border:1px solid #999999;}
#homecontent ul{margin:0; padding:0; list-style:none;}
#homecontent p.readmore{font-weight:bold;text-align:right;}


/* Left Column */

#homecontent .fl_left{display:block; float:left; width:530px;}
#homecontent .fl_left .column2{display:block; width:530px;}
#homecontent .fl_left li{display:block; float:left; width:250px; margin:0 30px 30px 0; padding:0;}
#homecontent .fl_left li.last{margin-right:0;}
#homecontent .fl_left p.readmore{display:block;color:purple; width:240px; padding:5px; text-align:right; line-height:normal; font-weight:bold;}

/* Right Column */

#homecontent .fl_right{display:block; float:right; width:385px;}
#homecontent .fl_right li{display:block; width:385px; margin:0 0 10px 0; padding:0 0 8px 0; border-bottom:1px dotted #999999;}
#homecontent .fl_right img{float:left; width:80px; height:80px; margin:0 10px 0 0;}

/* ----------------------------------------------Content------------------------------------- */

#content{display:block; float:left; width:600px;}

/* Comments */

#comments{margin-bottom:40px;}
#comments .commentlist{margin:0; padding:0;}
#comments .commentlist ul{margin:0; padding:0; list-style:none;}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}
#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#02ACEE; background-color:#F7F7F7;}
#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#02ACEE; background-color:#E8E8E8;}
#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}
#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight:normal; text-transform:none;}
#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column------------------------------------- */

#column{display:block; float:right; width:300px;}
#column .holder, #column #featured{display:block; width:300px; margin-bottom:20px;}
#column .holder h2.title{display:block; width:100%; height:65px; margin:0; padding:15px 0 0 0; font-size:20px; line-height:normal; border-bottom:1px dotted #999999;}
#column .holder h2.title img{float:left; margin:-15px 8px 0 0; padding:5px; border:1px solid #999999;}
#column div.imgholder{display:block; width:290px; margin:0 0 10px 0; padding:4px; border:1px solid #CCCCCC;}
#column .holder p.readmore{display:block; width:100%; font-weight:bold; text-align:right; line-height:normal;}

/* Featured Block */

#column #featured ul, #column #featured h2, #column #featured p{margin:0; padding:0; list-style:none; color:white; background-color:#F9F9F9;}
#column #featured a{color:purple; background-color:white;}
#column #featured li{display:block; width:250px; margin:0; padding:20px 25px; color:purple; background-color:white;}
#column #featured li p.imgholder{display:block; width:240px; height:90px; margin:20px 0 15px 0; padding:4px; border:1px solid #CCCCCC;}
#column #featured li h2{margin:0; padding:0 0 8px 0; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; line-height:normal; border-bottom:1px dotted #999999;}
#column #featured p.readmore{display:block; width:100%; margin-top:15px; font-weight:bold; text-align:right; line-height:normal;}
#column #latestnews{display:block; width:100%; margin:0; padding:0; list-style:none;}
#column #latestnews li{display:block; margin:0 0 20px 0; padding:0 0 15px 0; border-bottom:1px dotted purple;}
#column #latestnews li.last{margin-bottom:0;}
#column #latestnews p{margin:0 0 5px 0; padding:0;}
#column #latestnews p.readmore{margin:0; padding:0;}
#column #latestnews .imgl{margin:0 10px 10px 0; padding:4px;background-color: purple;}

/* ----------------------------------------------Footer------------------------------------- */

#footer{padding:20px 0;}
#footer h2, #footer p, #footer ul, #footer a{margin:0; color:white; padding:0; font-weight:normal; list-style:none; line-height:normal;}
#footer h2{font-size:18px;color:white; font-weight:normal; margin-bottom:10px; padding-bottom:8px; border-bottom:1px dotted #999999;}
#footer li{margin-bottom:5px;}
#footer .footbox{display:block;float:none; width:180px; margin:0 15px 0 0; padding:0;}
#footer .last{margin:0px;}

/* ----------------------------------------------Copyright------------------------------------- */

#copyright{padding:15px 0;color:white;}
#copyright p{margin:0;color:white; padding:0;}


#images {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
}
#images img {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    left: -400px;
    z-index: 1;
    opacity: 0;
    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
}
#images img:target {
    left: 0;
    z-index: 9;
    opacity: 1;
}
#images img:first-child {
    left: 0;
}
#slider a {
    text-decoration: none;
    background: #E3F1FA;
    border: 1px solid #C6E4F2;
    padding: 4px 6px;
    color: #222;
}
#slider a:hover {
    background: #C6E4F2;
}


/*..............................Subscribe field...................................*/
.subscribe-pitch {
  padding-left: 908px;
  background: url("../img/email.png") 5px center no-repeat;
}
.subscribe-pitch > h3 {
  margin: 0 0 12px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
}
.subscribe-pitch > p {
  line-height: 22px;
  color: #484848;
}

#myslides {
	width: 500px;		
    padding: 0;	
    margin:  0 auto;	
	margin-top: 20px;	
} 	
 
#myslides img {
    padding: 10px;	
    border:  1px solid rgb(100,100,100);
    background-color: rgb(230,230,230);
    width: 320px;
    top:  0;	
    left: 0	
}




